# Banco de dados
DATABASE_URL=dialect+driver://user:password@ip:port/db

# Criptografia
SECRET_KEY=STRONG_PASSWORD

# JWT
ALGORITHM=ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES=MINUTES
REFRESH_TOKEN_EXPIRE_MINUTES=MINUTES